# --- APP SETTINGS ---
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# --- DATABASE ---
DATABASE_URL=

# --- AUTHENTICATION ---
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# --- CLOUDINARY ---
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

# --- INNGEST ---
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=

# --- AI SERVICES & CLOUDFLARE WORKERS ---
CLOUDFLARE_API_KEY=
GLM_WORKER_URL=

# --- EMAILS ---
RESEND_API_KEY=