# Authentication
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Gemini API
GEMINI_API_KEY=

# Media Storage (Cloudflare R2 / AWS S3)
AWS_REGION=auto
AWS_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

# Database
DATABASE_URL=

# Email (Resend)
RESEND_API_KEY=

# Public Config
NEXT_PUBLIC_BASE_URL=http://localhost:3000